name: Pylint Linting

on: [pull_request]

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv sync

      - name: Lint Source Code
        run: uv run pylint src