name: Unit Testing

on: [pull_request]

jobs:
    unittest:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Install uv
              uses: astral-sh/setup-uv@v5

            - name: Set up Python
              run: uv sync

            - name: Run Unit Tests
              run: uv run pytest -n auto
